@(transactionForm: Form[Transaction], name: String)(implicit messages: Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@views.html.style {

    <h1>Add a transaction</h1>

    @form(routes.AccountController.save()) {



            <div class="form-group">
            @inputText(transactionForm("item"), '_label -> "Item", '_help -> "")
            @inputDate(transactionForm("date"), '_label -> "Date", '_help -> "")
            @textarea(transactionForm("comments"), '_label -> "Comments", '_help -> "")
            @inputText(transactionForm("rating"), '_label -> "Rating", '_help -> "")
            </div>


        <div class="actions">
            <input type="submit" value="Add Transaction" class="btn primary"> or
            <a href="@routes.AccountController.showAccount(name, None, None, None)" class="btn">Cancel</a>
        </div>

    }

}
