@(myForm: Form[Userdata], faillogin: Option[String], showSignupForm: Boolean, showLoginForm: Boolean, loggedIn: Boolean)(implicit request: Request[AnyContent], messages: Messages)
@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }


@main("RepCheck home") {

  @*
  * Get an `Html` object by calling the built-in Play welcome
  * template and passing a `String` message.
  *@


  <style>
  .modal-header, h4, .close {
    background-color: #4D97F0;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }
  .modal-footer {
    background-color: #f9f9f9;
  }
  </style>
  @if(showLoginForm) {

    <script type="text/javascript">
            window.onload = function () {
              $('#myModal').modal();
            }
    </script>
  }
  @if(showSignupForm) {

    <script type="text/javascript">
            window.onload = function () {
              $('#signupmodel').modal();
            }
    </script>
  }

  <div id="myCarousell" class="jumbotron jumbotron-padding">
    <!-- WRITE UTILITY FUNCTION TO RETURN THE CORRECT MESSAGE!! -->

      <a href="@routes.SearchController.showSearch()">
        <p class="topleft headertxt">Search  <span class="glyphicon glyphicon-search"></span></p>
      </a>



    <div class="topcorner">
        <p class="headertxt">
        @if(!loggedIn) {
          <a class="atag" href="" data-toggle="modal" data-target="#myModal" >
            Log in
          </a>
        } else {
          @*Logged in as: @request.session.get("loggedin").fold("")(n => n)*@

          <a class="atag" href="@routes.AccountController.showAccount(request.session.get("loggedin").fold("")(n => n), None, None, None)" >
            <span class="glyphicon glyphicon-user nav-space"></span> Account
          </a>
          <span>  | </span>
          <a class="atag" href="@routes.LoginController.logout()" >
            <span class="glyphicon glyphicon-log-out"></span> Logout
          </a>
        }

        </p>
      </div>




    <img class="jumbotron-image" src="/assets/images/index/repchecklogo.png" alt="First slide">
  </div>

  <a href="#container">
  <div class="arrow-down"></div>
  </a>


  <div class="container">
    @*<h2>Modal Login Example</h2>*@
      @*<!-- Trigger the modal with a button -->*@

      <!-- Start login model -->

    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header" style="padding:35px 50px;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
          </div>
          <div class="modal-body" style="padding:40px 50px;">


          @helper.form(action = routes.LoginController.submitform(), args = 'id -> "loginform") {
              <!-- WRITE UTILITY FUNCTION TO RETURN THE CORRECT MESSAGE!! -->
            @if(myForm.hasErrors) {

              @if(showLoginForm) {
                <div class="alert alert-danger" role="alert">
                @for(error <- myForm.errors) {
                  <p>@error.message</p>
                }
                </div>

              }

            }
            @if(faillogin.isDefined){
              <div class="alert alert-danger" role="alert">
                <p>@faillogin.get</p>
              </div>
            }
              <!--Standard text input form. id = textInput. Show constraints shows the field must be filled.-->
            <div class="form-group">
            <span class="glyphicon glyphicon-user"></span>
            @helper.inputText(
              myForm("username"),
              '_label -> "Username",
              'placeholder -> "e.g. User123",
              'span -> "glyphicon glyphicon-user",
              'class -> "form-control",
              'required -> "required",
              '_showConstraints -> false
            )
            </div>
            @*<input class="form-control" placeholder="Password" name="password" type="password" value="" required="">*@

            <div class="form-group">
            <span class="glyphicon glyphicon-eye-open"></span>
            @helper.inputText(
              myForm("loginpasswd"),
              '_label -> "Password",
              'class -> "form-control",
              'placeholder -> "*****************",
              'type -> "password",
              'required -> "required",
              '_showConstraints -> false
            )
            </div>

            <div class="checkbox">
            </div>
            <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span>
              Login</button>

          </div>

          }

          <div class="modal-footer">
            <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal" ><span class="glyphicon glyphicon-remove"></span> Cancel</button>
            <p>Not a member? <a data-dismiss="modal"  data-toggle="modal" data-target="#signupmodel">Sign Up</a></p>
            @*<p>Forgot <a href="#">Password?</a></p>*@
          </div>
        </div>

      </div>
    </div>
  </div>


    <!-- END MODEL -->

    <!-- Start Sign up model -->

  <div class="modal fade" id="signupmodel" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4>Sign up</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">


        @helper.form(action = routes.LoginController.submitform(), args = 'id -> "signupform") {

          @if(faillogin.isDefined){
            <div class="alert alert-danger" role="alert">
              <p>@faillogin.get</p>
            </div>
          }

          @if(myForm.hasErrors) {

            <div class="alert alert-danger" role="alert">
            @for(error <- myForm.errors){
              <p>@error.message</p>
            }
            </div>

          }

            <!--Standard text input form. id = textInput. Show constraints shows the field must be filled.-->
          <div class="form-group">
          <span class="glyphicon glyphicon-user"></span>
          @helper.inputText(
            myForm("username"),
            '_label -> "Username",
            'placeholder -> "e.g. User123",
            'class -> "form-control",
            'required -> "required",
            '_showConstraints -> false
          )
          </div>

          <div class="form-group">
          <span class="glyphicon glyphicon-envelope"></span>
          @helper.inputText(
            myForm("email"),
            '_label -> "Email",
            'placeholder -> "e.g. elvis_presley@hasleftthebulding.com",
            'class -> "form-control",
            'required -> "required",
            '_showConstraints -> false
          )
          </div>

          @*<input class="form-control" placeholder="Password" name="password" type="password" value="" required="">*@
          <div class="form-group">
          <span class="glyphicon glyphicon-eye-open"></span>
          @helper.inputPassword(
            myForm("password"),
            '_label -> "Password",
            'class -> "form-control",
            'required -> "required",
            '_showConstraints -> false
          )
          </div>

          <div class="form-group">
          @helper.inputPassword(
            myForm("confirmpassword"),
            '_label -> "Password Confirmation",
            'class -> "form-control",
            'required -> "required",
            '_showConstraints -> false
          )
          </div>

          <br>
          <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span>
            Sign up
          </button>

        </div>

        }

        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        </div>
      </div>

    </div>
  </div>



  <div id="container" class="container marketing">

      <!-- START THE FEATURETTES -->

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Reputation. <span class="text-muted">Almost as important as oxygen.</span></h2>
        <p class="lead">We understand that reputation is the driving force of e-commerce. </p>
      </div>
      <div class="col-md-5">
          <!-- <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
        <img class="featurette-image img-responsive screenshot-image" src="/assets/images/index/trust.png" alt="Trust - image of handshake">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5">
        <img class="featurette-image img-responsive indeximg" src="/assets/images/index/starz.png" alt="Stars">
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading">Buy with confidence. <span class="text-muted">Browse user-friendly reviews.</span></h2>
        <p class="lead">Each retailer has a uniquie Repcheck&copy;
        score, aggregated from numerous sources to provide you with an informed decision. </p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">We take reputation from where it exists and put it where its needed. <span class="text-muted"></span></h2>
        <p class="lead">We aim to provide a platform to markets which do not have a central reputation system to convey themselves fairly. We Encourage honesty and promote trust.</p>
      </div>

      <div class="col-md-5">
        <img class="featurette-image img-responsive charts" src="/assets/images/index/charts.png" alt="Location based connections">
      </div>

    </div>

    <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->
    <div class="row">
      <div class="col-lg-4">
        <br>
        <br>
        <a href="" target="_blank"><img class="amazon" src="/assets/images/index/amazon.png" alt="Amazon logo"></a>
       <!-- <h2>Like</h2>
        <p>Like us on Facebook to get regular updates and be part of promotions.</p>
        <div class="fb-like" data-href="https://www.facebook.com/BranchOutApp" data-width="300" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
      -->
      </div>

      <div class="col-lg-4">
        <a href="" target="_blank"><img class="amazon" src="/assets/images/index/ebay.png" alt="Ebay logo"></a>
       <!-- <h2>Follow</h2>
        <p>Follow us on Twitter to keep up to date with our day to day activities and see what's going on.</p> -->
      </div>

      <div class="col-lg-4">
        <a href="" target="_blank"><img class="heading-image" src="/assets/images/index/fb.png" alt="Facebook logo"></a>
        <!-- <h2>Download</h2>
       <!-- <a href="" target="_blank" ><img src="/assets/images/index/amazon.png"></a> -->
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row" style="text-align: center;">
        @*<a style="margin: auto;" class="twitter-timeline" href="https://twitter.com/barneynikolich" data-widget-id="471406838760472576">Tweets by Barney</a>*@
        @*<a style="margin: auto;" class="twitter-timeline" href="https://twitter.com/MTNEQUIPMENT" data-widget-id="471406838760472576">Tweets by @@MTNEQUIPMENT</a>*@


      <div>
        <a class="twitter-timeline"
        href="https://twitter.com/MTNEQUIPMENT"
        data-width="720" data-height="1000">Tweets by @@MTNEQUIPMENT</a>
      </div>



    </div>

    <hr class="featurette-divider">
      <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2017 RepCheck   <!-- &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p> -->
    </footer>

  </div><!-- /.container -->


}